<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>pyTweetBot - Your weekly Twitter statistics</title>
    </head>
    <body>
        <h1>pyTweetBot</h1>
        <h2>Your weekly Twitter statistics</h2>
        <h5>Your last report : @@_date_last_@@</h5>
        <br/>
        <h3>Statistics :</h3>
        <ul>
            <li>You have now @@_followers_@@ followers (@@_diff_followers_@@).</li>
            <li>You're following @@_following_@@ Twitter users (@@_diff_following_@@).</li>
            <li>You sent @@_statuses_@@ tweets (@@_diff_statuses_@@)</li>
        </ul>
        <br/
        <h3>Private messages : </h3>
        <ul>
        </ul>
    </body>
</html>